@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;

  --color-green: #03ef62;
  --color-dark: #05192d;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: var(--color-dark);
}